{{!--
SWADE Item Tables is a module for Foundry VTT that presents Items from
Compendia in a table layout for easy access while editing Actors.

Copyright (C) 2023 Kristian Serrano

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
<https: //www.gnu.org/licenses />.
--}}

{{!-- Ancestries --}}
{{#if (eq type 'ancestries')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='1'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
</tr>
{{/each}}
{{/if}}

{{!-- Hindrances --}}

{{#if (eq type 'hindrances')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='2'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>
        {{#if (SWADEItemTables_Includes system.description (localize 'SWADEItemTables.Major'))}}
        {{localize 'SWADEItemTables.Minor'}}/{{localize 'SWADEItemTables.Major'}}
        {{else}}
        {{#if system.major}}
        {{localize 'SWADEItemTables.Major'}}
        {{else}}
        {{localize 'SWADEItemTables.Minor'}}
        {{/if}}
        {{/if}}
    </td>
</tr>
{{/each}}
{{/if}}

{{!-- Skills --}}

{{#if (eq type 'skills')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='2'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>
        {{#if system.attribute}}
        {{SWADEItemTables_AttributeString system.attribute}}
        {{/if}}
    </td>
</tr>
{{/each}}
{{/if}}


{{!-- Edges --}}

{{#if (eq type 'edges')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='2'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>
        {{#if system.requirements.value}}
        {{system.requirements.value}}
        {{/if}}
    </td>
</tr>
{{/each}}
{{/if}}

{{!-- Equipment --}}

{{!-- Gear --}}
{{#if (eq type 'gear')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='3'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{SWADEItemTables_LocalizeNumber system.weight}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.price}}</td>
    {{#if system.notes}}
</tr>
<tr>
    <td colspan="3" class="table-notes">{{{system.notes}}}</td>
    {{/if}}
</tr>
{{/each}}
{{/if}}

{{!-- Armor --}}
{{#if (eq type 'armor')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='5'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{system.armor}}</td>
    <td>{{system.minStr}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.weight}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.price}}</td>
    {{#if system.notes}}
</tr>
<tr>
    <td colspan="5" class="table-notes">{{{system.notes}}}</td>
    {{/if}}
</tr>
{{/each}}
{{/if}}

{{!-- Shields --}}
{{#if (eq type 'shields')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='5'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{system.parry}}</td>
    <td>{{system.minStr}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.weight}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.price}}</td>
    {{#if system.notes}}
</tr>
<tr>
    <td colspan="5" class="notes table-notes">{{{system.notes}}}</td>
    {{/if}}
</tr>
{{/each}}
{{/if}}

{{!-- Melee Weapons --}}
{{#if (eq type 'melee-weapons')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='6'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{SWADEItemTables_FormatStr system.damage}}</td>
    <td>{{system.minStr}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.weight}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.price}}</td>
    <td class="notes table-notes">{{{system.notes}}}</td>
</tr>
{{/each}}
{{/if}}

{{!-- Ranged Weapons --}}
{{#if (eq type 'ranged-weapons')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='9'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{system.range}}</td>
    <td>{{SWADEItemTables_FormatStr system.damage}}</td>
    <td>{{system.ap}}</td>
    <td>{{system.rof}}</td>
    <td>{{system.minStr}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.weight}}</td>
    <td>{{SWADEItemTables_LocalizeNumber system.price}}</td>
    {{#if system.notes}}
</tr>
<tr>
    <td colspan="9" class="notes table-notes">{{{system.notes}}}</td>
    {{/if}}
</tr>
{{/each}}
{{/if}}

{{!-- Powers --}}
{{#if (eq type 'powers')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='2'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{system.rank}}</td>
</tr>
{{/each}}
{{/if}}

{{!-- Abilities --}}
{{#if (eq type 'abilities')}}
{{> 'modules/swade-item-tables/templates/partials/table-subheading.hbs' packageType=packageType colspan='2'}}
{{#each items}}
<tr>
    <td><a data-uuid="{{uuid}}" draggable="true">{{name}}</a></td>
    <td>{{system.category}}</td>
</tr>
{{/each}}
{{/if}}