{{!--
SWADE Item Tables is a module for Foundry VTT that presents Items from
Compendia in a table layout for easy access while editing Actors.

Copyright (C) 2023 Kristian Serrano

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
<https: //www.gnu.org/licenses />.
--}}

<fieldset class="package-{{id}}-{{type}}" data-type="{{type}}">
    <legend>
        <div class="all-selector">
            <div class="form-group">
                <input type="checkbox" id="package-{{id}}-{{type}}" class="package-checkbox" data-package-id="{{id}}" {{checked (eq allChecked 'all' )}} />
                <label for="package-{{id}}-{{type}}">
                    {{#if (eq packageType 'system')}}<i class="far fa-dice" data-tooltip="{{localize 'PACKAGE.Type.system'}}"></i>{{/if}}
                    {{#if (eq packageType 'module')}}<i class="fas fa-cube" data-tooltip="{{localize 'PACKAGE.Type.module'}}"></i>{{/if}}
                    {{#if (eq packageType 'world')}}<i class="fas fa-globe" data-tooltip="{{localize 'PACKAGE.Type.world'}}"></i>{{/if}}
                    {{title}}
                </label>
            </div>
        </div>
    </legend>
    {{#each items}}
    <div class="form-group">
        <input type="checkbox" id="item-{{uuid}}" class="item-checkbox" data-uuid="{{uuid}}" {{checked (SWADEItemTables_Includes ../includedItemUuids uuid) }} />
        <label for="item-{{uuid}}" data-uuid="{{uuid}}">{{name}}</label>
    </div>
    {{/each}}
</fieldset>