{{!--
SWADE Item Tables is a module for Foundry VTT that presents Items from
Compendia in a table layout for easy access while editing Actors.

Copyright (C) 2023 Kristian Serrano

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see
<https: //www.gnu.org/licenses />.
--}}

<nav class="tabs" data-group="subcategory-tabs">
    <a class="item" data-group="subcategory-tabs" data-tab="gear">{{localize 'SWADEItemTables.Gear'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="armor">{{localize 'SWADE.Armor'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="shields">{{localize 'SWADE.Shields'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="melee-weapons">{{localize 'SWADE.MeleeWeapons'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="ranged-weapons">{{localize 'SWADE.RangedWeapons'}}</a>
</nav>