<nav class="tabs" data-group="subcategory-tabs">
    <a class="item" data-group="subcategory-tabs" data-tab="gear">{{localize 'SWADEItemTables.Gear'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="armor">{{localize 'SWADE.Armor'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="shields">{{localize 'SWADE.Shields'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="melee-weapons">{{localize 'SWADE.MeleeWeapons'}}</a>
    <a class="item" data-group="subcategory-tabs" data-tab="ranged-weapons">{{localize 'SWADE.RangedWeapons'}}</a>
</nav>