<nav class="tabs" data-group="category-tabs">
    <a class="item" data-group="category-tabs" data-tab="ancestries">{{localize 'SWADEItemTables.Ancestries'}}</a>
    <a class="item" data-group="category-tabs" data-tab="hindrances">{{localize 'SWADE.Hindrances'}}</a>
    <a class="item" data-group="category-tabs" data-tab="skills">{{localize 'SWADE.Skills'}}</a>
    <a class="item" data-group="category-tabs" data-tab="edges">{{localize 'SWADE.Edges'}}</a>
    <a class="item" data-group="category-tabs" data-tab="equipment">{{localize 'SWADEItemTables.Equipment'}}</a>
    <a class="item" data-group="category-tabs" data-tab="powers">{{localize 'SWADEItemTables.Powers'}}</a>
    <a class="item" data-group="category-tabs" data-tab="abilities">{{localize 'SWADEItemTables.Abilities'}}</a>
</nav>