{{!--
    SWADE Item Tables is a module for Foundry VTT that presents Items from
    Compendia in a table layout for easy access while editing Actors.

    Copyright (C) 2023 Kristian Serrano

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see
    <https: //www.gnu.org/licenses />.
 --}}

<form>
    <h2>{{localize 'SWADEItemTables.Title'}}</h2>
    {{> 'modules/swade-item-tables/templates/partials/tabs.hbs'}}
    <main class="sheet-body">
        <section class="tab" data-group="category-tabs" data-tab="ancestries">
            <table>
                <caption>{{localize 'SWADEItemTables.Ancestries'}}</caption>
                <thead>
                    <tr>
                        <th>{{localize 'SWADEItemTables.Ancestry'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ancestries}}
                    {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='ancestries'}}
                    {{/each}}
                </tbody>
            </table>
        </section>
        <section class="tab" data-group="category-tabs" data-tab="hindrances">
            <table>
                <caption>{{localize 'SWADE.Hindrances'}}</caption>
                <thead>
                    <tr>
                        <th>{{localize 'SWADEItemTables.Hindrance'}}</th>
                        <th>{{localize 'SWADEItemTables.Major'}}/{{localize 'SWADEItemTables.Minor'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each hindrances}}
                    {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='hindrances'}}
                    {{/each}}
                </tbody>
            </table>
        </section>
        <section class="tab" data-group="category-tabs" data-tab="skills">
            <table>
                <caption>{{localize 'SWADE.Skills'}}</caption>
                <thead>
                    <tr>
                        <th>{{localize 'SWADEItemTables.Skill'}}</th>
                        <th>{{localize 'SWADEItemTables.LinkedAttribute'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each skills}}
                    {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='skills'}}
                    {{/each}}
                </tbody>
            </table>
        </section>
        <section class="tab" data-group="category-tabs" data-tab="edges">
            <table>
                <caption>{{localize 'SWADE.Edges'}}</caption>
                <thead>
                    <tr>
                        <th>{{localize 'SWADEItemTables.Edge'}}</th>
                        <th>{{localize 'SWADE.Rank'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each edges}}
                    {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='edges'}}
                    {{/each}}
                </tbody>
            </table>
        </section>
        <section class="tab subsection --equipment" data-group="category-tabs" data-tab="equipment">
            {{> 'modules/swade-item-tables/templates/partials/subtabs.hbs'}}
            <section class="tab" data-group="subcategory-tabs" data-tab="gear">
                <table>
                    <caption>{{localize 'SWADEItemTables.Gear'}}</caption>
                    <thead>
                        <tr>
                            <th>{{localize 'SWADE.Item'}}</th>
                            <th>{{localize 'SWADE.Weight'}}</th>
                            <th>{{localize 'SWADE.Price'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each gear}}
                        {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='gear'}}
                        {{/each}}
                    </tbody>
                </table>
            </section>
            <section class="tab" data-group="subcategory-tabs" data-tab="armor">
                <table>
                    <caption>{{localize 'SWADE.Armor'}}</caption>
                    <thead>
                        <tr>
                            <th>{{localize 'SWADE.Item'}}</th>
                            <th>{{localize 'SWADE.Armor'}}</th>
                            <th>{{localize 'SWADEItemTables.MinStr'}}</th>
                            <th>{{localize 'SWADE.Weight'}}</th>
                            <th>{{localize 'SWADE.Price'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each armor}}
                        {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='armor'}}
                        {{/each}}
                    </tbody>
                </table>
            </section>
            <section class="tab" data-group="subcategory-tabs" data-tab="shields">
                <table>
                    <caption>{{localize 'SWADE.Shields'}}</caption>
                    <thead>
                        <tr>
                            <th>{{localize 'SWADEItemTables.Type'}}</th>
                            <th>{{localize 'SWADE.Parry'}}</th>
                            <th>{{localize 'SWADEItemTables.MinStr'}}</th>
                            <th>{{localize 'SWADE.Weight'}}</th>
                            <th>{{localize 'SWADE.Price'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each shields}}
                        {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='shields'}}
                        {{/each}}
                    </tbody>
                </table>
            </section>
            <section class="tab" data-group="subcategory-tabs" data-tab="melee-weapons">
                <table>
                    <caption>{{localize 'SWADE.MeleeWeapons'}}</caption>
                    <thead>
                        <tr>
                            <th>{{localize 'SWADEItemTables.Type'}}</th>
                            <th>{{localize 'SWADEItemTables.Damage'}}</th>
                            <th>{{localize 'SWADEItemTables.MinStr'}}</th>
                            <th>{{localize 'SWADE.Weight'}}</th>
                            <th>{{localize 'SWADE.Price'}}</th>
                            <th>{{localize 'SWADE.Notes'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each melee-weapons}}
                        {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='melee-weapons'}}
                        {{/each}}
                    </tbody>
                </table>
            </section>
            <section class="tab" data-group="subcategory-tabs" data-tab="ranged-weapons">
                <table>
                    <caption>{{localize 'SWADE.RangedWeapons'}}</caption>
                    <thead>
                        <tr>
                            <th>{{localize 'SWADEItemTables.Type'}}</th>
                            <th>{{localize 'SWADEItemTables.Range'}}</th>
                            <th>{{localize 'SWADEItemTables.Damage'}}</th>
                            <th>{{localize 'SWADEItemTables.AP'}}</th>
                            <th>{{localize 'SWADE.RoF'}}</th>
                            <th>{{localize 'SWADEItemTables.MinStr'}}</th>
                            <th>{{localize 'SWADE.Weight'}}</th>
                            <th>{{localize 'SWADE.Price'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ranged-weapons}}
                        {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='ranged-weapons'}}
                        {{/each}}
                    </tbody>
                </table>
            </section>
        </section>
        <section class="tab" data-group="category-tabs" data-tab="powers">
            <table>
                <caption>{{localize 'SWADE.Powers'}}</caption>
                <thead>
                    <tr>
                        <th>{{localize 'SWADE.Power'}}</th>
                        <th>{{localize 'SWADE.Rank'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each powers}}
                    {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='powers'}}
                    {{/each}}
                </tbody>
            </table>
        </section>
        <section class="tab" data-group="category-tabs" data-tab="abilities">
            <table>
                <caption>{{localize 'SWADE.Abilities'}}</caption>
                <thead>
                    <tr>
                        <th>{{localize 'SWADEItemTables.Ability'}}</th>
                        <th>{{localize 'SWADE.Category'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each abilities}}
                    {{> 'modules/swade-item-tables/templates/partials/allowed-items-by-source.hbs' type='abilities'}}
                    {{/each}}
                </tbody>
            </table>
        </section>
    </main>
</form>